In [1]:
import pandas as pd
import numpy as np
import zipfile
import csv
import os
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [2]:
nltk.download('vader_lexicon')
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/joeyared/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [3]:
with zipfile.ZipFile('/Users/joeyared/Desktop/INFO492Capstone/dpo_ipw.zip', 'r') as zip_ref:
    with zip_ref.open('reddit_opinion_PSE_ISR.csv') as csv_file:
        df = pd.read_csv(csv_file)

In [4]:
display(df.head(10))

,comment_id,score,self_text,subreddit,created_time,post_id,author_name,controversiality,ups,downs,...,user_link_karma,user_comment_karma,user_total_karma,post_score,post_self_text,post_title,post_upvote_ratio,post_thumbs_ups,post_total_awards_received,post_created_time
0,lxqgzlm,1,Yeah every country had some great something:\n...,AskMiddleEast,2024-11-18 10:07:20,1gu0sw3,italianNinja1,0,1,0,...,158.0,3578.0,3736.0,30,NaN,Average Israeli article,1.00,30,0,2024-11-18 09:13:04
1,lxqgym5,1,none because jews would be treated equally…,IsraelPalestine,2024-11-18 10:07:02,1gttyrd,ALPHANUMBER-1,0,1,0,...,561.0,4454.0,5298.0,22,I am seeking honest opinions about what would ...,How many people would die if the Palestinian s...,0.60,22,0,2024-11-18 02:02:35
2,lxqgx9m,1,Idiotic reply,IsraelPalestine,2024-11-18 10:06:38,1gttyrd,PLUCKEd0,0,1,0,...,11.0,28.0,59.0,22,I am seeking honest opinions about what would ...,How many people would die if the Palestinian s...,0.60,22,0,2024-11-18 02:02:35
3,lxqgu35,1,I’m sure these lawsuits will accomplish nothin...,worldnews,2024-11-18 10:05:39,1gtwxwu,Jelly_Jess_NW,0,1,0,...,8.0,9657.0,9665.0,171,NaN,American families sue Iran over Hamas attack,0.80,171,0,2024-11-18 04:45:20
4,lxqgqni,1,Arabs and Arabians are two different things th...,AskMiddleEast,2024-11-18 10:04:38,1gtwtrd,Clean-Satisfaction-8,0,1,0,...,1167.0,6494.0,7687.0,0,NaN,My Peace Plan for Syria,0.33,0,0,2024-11-18 04:38:42
5,lxqgo5y,1,"Even if we were to concede that this is ""Israe...",Palestine,2024-11-18 10:03:52,1gu0pxz,ChickenNugget267,0,1,0,...,67357.0,35493.0,103169.0,121,NaN,You remember the girl who was posted here on S...,0.98,121,0,2024-11-18 09:06:33
6,lxqghem,1,How many countries Israel has attacked? Do you...,IsraelPalestine,2024-11-18 10:01:49,1gttyrd,Weary-Classic7472,0,1,0,...,1.0,322.0,323.0,22,I am seeking honest opinions about what would ...,How many people would die if the Palestinian s...,0.60,22,0,2024-11-18 02:02:35
7,lxqgg4p,1,Erdogan is trying hard to make Turkey a terror...,worldnews,2024-11-18 10:01:25,1gtnyqd,bikbar1,0,1,0,...,521.0,55519.0,56868.0,2167,NaN,Senior Hamas officials in Turkey after Qatar s...,0.96,2167,0,2024-11-17 21:19:01
8,lxqgdsh,1,"Eh, most of them are outside of the country no...",AskMiddleEast,2024-11-18 10:00:41,1gtpfbp,KGBAg3nt,0,1,0,...,5017.0,22535.0,27705.0,149,NaN,Why aren’t they being arrested like Pro Palest...,0.92,149,0,2024-11-17 22:23:23
9,lxqgdhc,1,these groups have been *openly financed* by th...,worldnews,2024-11-18 10:00:35,1gtwxwu,f12345abcde,0,1,0,...,2712.0,23023.0,26039.0,171,NaN,American families sue Iran over Hamas attack,0.80,171,0,2024-11-18 04:45:20

In [5]:
print(df['self_text'][0])

Yeah every country had some great something:


Megali idea(Greece)


Greater Morocco


Greater Azerbaijan


And so on... The major difference between Israel, Azerbaijan and the others is the fact that the others defined their borders by law and they are not trying to eat portions of other countries

In [6]:
df.columns

Index(['comment_id', 'score', 'self_text', 'subreddit', 'created_time',
       'post_id', 'author_name', 'controversiality', 'ups', 'downs',
       'user_is_verified', 'user_account_created_time', 'user_awardee_karma',
       'user_awarder_karma', 'user_link_karma', 'user_comment_karma',
       'user_total_karma', 'post_score', 'post_self_text', 'post_title',
       'post_upvote_ratio', 'post_thumbs_ups', 'post_total_awards_received',
       'post_created_time'],
      dtype='object')

In [7]:
relevant_df = df[['self_text', 'created_time']]
# relevant_df = df[['comment_id', 'score', 'self_text', 'subreddit', 'created_time']]

In [8]:
display(relevant_df)

,self_text,created_time
0,Yeah every country had some great something:\n...,2024-11-18 10:07:20
1,none because jews would be treated equally…,2024-11-18 10:07:02
2,Idiotic reply,2024-11-18 10:06:38
3,I’m sure these lawsuits will accomplish nothin...,2024-11-18 10:05:39
4,Arabs and Arabians are two different things th...,2024-11-18 10:04:38
...,...,...
2174028,Something similar happened in Sweden recently.,2023-09-02 13:57:37
2174029,They should leave the anger and hatred back wh...,2023-09-02 13:33:15
2174030,Something similar happened in Germany recently...,2023-09-02 13:24:53
2174031,Who are the yellow shirts? The referees?,2023-09-02 12:17:34
2174032,Something similar happened in Toronto recently.,2023-09-02 12:02:19

In [9]:
relevant_df.drop_duplicates()

,self_text,created_time
0,Yeah every country had some great something:\n...,2024-11-18 10:07:20
1,none because jews would be treated equally…,2024-11-18 10:07:02
2,Idiotic reply,2024-11-18 10:06:38
3,I’m sure these lawsuits will accomplish nothin...,2024-11-18 10:05:39
4,Arabs and Arabians are two different things th...,2024-11-18 10:04:38
...,...,...
2174028,Something similar happened in Sweden recently.,2023-09-02 13:57:37
2174029,They should leave the anger and hatred back wh...,2023-09-02 13:33:15
2174030,Something similar happened in Germany recently...,2023-09-02 13:24:53
2174031,Who are the yellow shirts? The referees?,2023-09-02 12:17:34
2174032,Something similar happened in Toronto recently.,2023-09-02 12:02:19

In [10]:
relevant_df.dropna(how='all')

,self_text,created_time
0,Yeah every country had some great something:\n...,2024-11-18 10:07:20
1,none because jews would be treated equally…,2024-11-18 10:07:02
2,Idiotic reply,2024-11-18 10:06:38
3,I’m sure these lawsuits will accomplish nothin...,2024-11-18 10:05:39
4,Arabs and Arabians are two different things th...,2024-11-18 10:04:38
...,...,...
2174028,Something similar happened in Sweden recently.,2023-09-02 13:57:37
2174029,They should leave the anger and hatred back wh...,2023-09-02 13:33:15
2174030,Something similar happened in Germany recently...,2023-09-02 13:24:53
2174031,Who are the yellow shirts? The referees?,2023-09-02 12:17:34
2174032,Something similar happened in Toronto recently.,2023-09-02 12:02:19

In [11]:
df['created_time'] = pd.to_datetime(df['created_time'])
relevant_df['created_time'] = df['created_time'].dt.strftime('%Y-%m-%d')
display(relevant_df.head(5))

/var/folders/7j/7wfc5bp564g4fqg4tjq__hbw0000gn/T/ipykernel_86607/1995784080.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relevant_df['created_time'] = df['created_time'].dt.strftime('%Y-%m-%d')

                                           self_text created_time
0  Yeah every country had some great something:\n...   2024-11-18
1        none because jews would be treated equally…   2024-11-18
2                                      Idiotic reply   2024-11-18
3  I’m sure these lawsuits will accomplish nothin...   2024-11-18
4  Arabs and Arabians are two different things th...   2024-11-18

In [12]:
start_time = '2023-09-02'
end_time = '2024-03-01'
filtered_df = relevant_df[(relevant_df['created_time'] >= start_time) & (df['created_time'] <= end_time)]
display(filtered_df)

                                                 self_text created_time
1236348  But that's not what they're trying to do. They...   2024-02-29
1236349  yeah say what you like call me a racist ignore...   2024-02-29
1236350                                The flour massacre.   2024-02-29
1236351  In a time where the only attack was rear firin...   2024-02-29
1236352  I don’t have links sorry but I saw one video w...   2024-02-29
...                                                    ...          ...
2174028     Something similar happened in Sweden recently.   2023-09-02
2174029  They should leave the anger and hatred back wh...   2023-09-02
2174030  Something similar happened in Germany recently...   2023-09-02
2174031           Who are the yellow shirts? The referees?   2023-09-02
2174032    Something similar happened in Toronto recently.   2023-09-02

[937685 rows x 2 columns]

In [13]:
nltk.download('vader_lexicon')
sid = SentimentIntensityAnalyzer()
def sentiment_analysis(text):
    sid = SentimentIntensityAnalyzer()
    if pd.isna(text) or text is None:
        return 'Neutral', {'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0}
    text = str(text)
    scores = sid.polarity_scores(text)
    if scores['compound'] >= 0.05:
        sentiment = 'Positive'
    elif scores['compound'] <= -0.05:
        sentiment = 'Negative'
    else:
        sentiment = 'Neutral'
    return sentiment, scores

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/joeyared/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [14]:
def analyze_comments(df):
    results = []
    for text in df['self_text']:
        sentiment, scores = sentiment_analysis(text)
        results.append({
            'text': text,
            'sentiment': sentiment,
            'compound_score': scores['compound'],
        })
    return pd.DataFrame(results)

In [15]:
results_df = analyze_comments(filtered_df)
# display(results_df)

,text,sentiment,compound_score
0,But that's not what they're trying to do. They...,Negative,-0.5719
1,yeah say what you like call me a racist ignore...,Negative,-0.4215
2,The flour massacre.,Neutral,0.0000
3,In a time where the only attack was rear firin...,Negative,-0.5481
4,I don’t have links sorry but I saw one video w...,Negative,-0.2886
...,...,...,...
937680,Something similar happened in Sweden recently.,Neutral,0.0000
937681,They should leave the anger and hatred back wh...,Negative,-0.8442
937682,Something similar happened in Germany recently...,Neutral,0.0000
937683,Who are the yellow shirts? The referees?,Neutral,0.0000
937684,Something similar happened in Toronto recently.,Neutral,0.0000

In [16]:
results_df.to_csv("reddit_comments.csv", index=False)